.messages {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    // border: solid 1px white;

    .messagesinputContainer {
        display: flex;
        gap: 10px;
        border: solid 2px #800080;
        border-radius: 20px;

        .messagesInput {
            width: 300px;
            height: 50px;
            border: none;
            outline: none;
            font-size: 20px;
            background-color: transparent;
            padding-left: 20px;
            font-size: 15px;
            color: white;
        }

        .messagesButton {
            width: 80px;
            height: 50px;
            background-color: transparent;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: .6s;
        }


    }

    .comments {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow: auto;

        .yourMessagePart {
            width: 100%;
            display: flex;
            gap: 20px;
            align-items: center;
            border: solid 1px #3feee6;
            padding: 0 20px;
            border-radius: 20px;

            span {
                width: 50px;
                font-size: 14px;
            }

            .message {
                font-size: 15px;
                font-weight: 400;
                font-style: italic;
                color: white;
                width: 100%;
                height: 25px;
                display: flex;
                align-items: center;
                padding-left: 20px;
            }

            .editButton {
                width: 30px;
                height: 300px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        &::-webkit-scrollbar {
            width: 15px;
            border-radius: 7px;
        }

        &::-webkit-scrollbar-track {
            background-color: #393333;
        }

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            width: 7px;
            background-color: #800080;
        }
    }
}