.kingsSlider {
    width: 550px;
    height: 700px;
    border-radius: 20px;
    position: absolute;
    top: 10px;
    left: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    .kingsSliderInside {
        width: 100%;
        height: 696px;
        display: flex;
        border-radius: 20px;
        position: relative;
        border: solid 10px white;

        .kingCloseButton {
            width: 40px;
            height: 40px;
            background-color: transparent;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            position: absolute;
            top: 10px;
            right: 20px;
            z-index: 3;
        }

        .kingItem {
            width: 530px;
            height: 676px;
            display: flex;
            flex-direction: column;
            position: absolute;

            .kingItemTop {
                width: 100%;
                height: 200px;
                display: flex;
                padding: 5px;
                background-color: black;
                justify-content: center;

                .kingItemImage {
                    width: 150px;
                    height: 200px;
                    background-position: center;
                    background-size: cover;
                }
            }

            .kingItemBottom {
                width: 530px;
                height: 476px;
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 14px;
                word-wrap: break-word;
                word-break: break-all;
                text-align: center;
                color: white;
                background-color: black;
                padding: 30px;
                border-radius: 0 0 20px 20px;
            }
        }

        .kingButton {
            position: absolute;
            width: 30px;
            height: 60px;
            z-index: 2;
            // border: solid 1px white;
        }

        .kingBackButton {
            top: 370px;
            left: 50px;
        }

        .kingUndoButton {
            top: 370px;
            right: 50px;
        }
    }
}