.healthy {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .weightLabel {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;

        .weightText {
            width: 260px;
            height: 40px;
            border: solid 2px #57A0D2;
            outline: none;
            border-radius: 18px;
            background-color: transparent;
            color: white;
            padding-left: 10px;
            font-size: 16px;
        }
    }

    .heightLabel {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 20px;

        .heightText {
            width: 260px;
            height: 40px;
            border: solid 2px #57A0D2;
            outline: none;
            border-radius: 18px;
            background-color: transparent;
            color: white;
            padding-left: 10px;
            font-size: 16px;
        }
    }

    .radios {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 20px;
        padding: 0 20px;

        .gender {
            display: flex;
            align-items: center;
            gap: 10px;

            .radioInput {
                width: 20px;
                height: 20px;
            }
        }
    }

    .buttonPartInBottom {
        width: 100%;
        align-items: center;
        gap: 20px;
        display: flex;

        .shareIdealWeightButton {
            width: 300px;
            height: 50px;
            cursor: pointer;
            background-color: transparent;
            border: solid 2px #57A0D2;
            border-radius: 20px;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 1s;

            &:hover {
                background-color: transparent;
                border: solid 2px white;
                color: #57A0D2
            }
        }

        .clearAll {
            width: 70px;
            height: 50px;
            background-color: transparent;
            border: solid 2px #57A0D2;
            border-radius: 15px;
            color: white;
            cursor: pointer;
            transition: 1s;

            &:hover {
                background-color: transparent;
                border: solid 2px white;
                color: #57A0D2
            }
        }

    }
}